<!-- footer Start -->
<footer class="site-footer bg-light f-height">
  <div class="container" style="margin-bottom:15px;">
        <div class="row">
          <div class="col-md-5">
            <h2 class="footer-heading mb-4 footer-h2">Vera Equinox</h2>
            <p class="footer-p">VETI is very proud of having a very reliable and honest Technical Team which all graduated as an I.T. Professionals. The Company continuously gives them training with all our business partners in Manila. Proudly to be certified Technicians of our Prestigious Partners.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h4 class="footer-heading mb-4">Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="#slider" class="smoothscroll footer-l">Home</a></li>
              <li><a href="#intro" class="smoothscroll footer-l">About Us</a></li>
              <li><a href="#service" class="smoothscroll footer-l">Services</a></li>
              <li><a href="#contact" class="smoothscroll footer-l">Contact</a></li>
              <li><a href="https://www.leakymosfet.com/" class="smoothscroll footer-l">Shop</a></li>
            </ul>
            <div>
              <h4 class="footer-heading mb-4">Follow Us</h4>
              <a href="#" class="pl-0 pr-3 footer-icon"><span><img src="img\footer-facebook.png"></span></a>
              <a href="#" class="pl-3 pr-3 footer-icon"><span><img src="img\facebook-twitter.png"></span></a>
              <a href="#" class="pl-3 pr-3 footer-icon"><span><img src="img\footer-youtube.png"></span></a>
              <a href="#" class="pl-3 pr-3 footer-icon"><span><img src="img\footer-rss.png"></span></a>
            </div>
          </div>

          <div class="col-md-3 footer-social">
            <h4 class="footer-heading mb-4">Contact Us</h4>
            <p class="footer-c">
                Space 6 Ramoso Bldg. <br>
                Burgos Ave.Cabanatuan City<br>
                Nueva Ecija <br>
                <strong>Phone:</strong>(044) 464 - 2173 / (044) 600 - 5180<br>
                <strong>Email:</strong> veraequinox@gmail.com<br>
            </p>
        </div>
      </div>

      </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p class="copyright"><small>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright Vera Equinox  &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>

          </div>
        </div>

      </div>
  </footer>
